*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --text-font: 'Barlow', sans-serif;
    --tille-font: 'Fraunces', serif;
    --red: #fe7867;
    --yellow: #fad400;
    --gray: #a7abae;
    --white: #ffffff;
    --graphic-text: #25564b;
    --photography-text: #19536b;
    --footer: #458c7e;
    --background: #FFFBFB;
}

body{
    font-family: var(--text-font);
    background-color: var(--background);
}
header{
    height: 80vh;
    background-image: url(./images/mobile/image-header.jpg);
    background-position: bottom;
    background-size: cover;
    color: var(--white);
    padding: 32px 16px;
    display: grid;
    place-items: start center;
}

header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

header .logo{
    font-size: 1.5rem;
    font-weight: 700;
    
}
header h1{
    font-family: var(--tille-font);
    font-size: 2.5rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 0.5rem;
    text-align: center;
}

.info img{
    width: 100%;

}
.description{
    display: grid;
    padding: 80px 0px;
    place-items: center;
    height: 500px;
}
.description__title{
    font-family: var(--tille-font);
    font-size: 2rem;
    font-weight: 900;
    text-align: center;
    width: 300px;
}
.description__text{
    font-size: 1.2rem;
    font-weight: 600;
    color: var(--gray);
    text-align: center;
    line-height: 2rem;
    padding: 20px;
}
.description__link{
    font-family: var(--tille-font);
    font-weight: 900;
    font-size: 1.2rem;
    text-transform: uppercase;
    position: relative;

}
.line{
    position: absolute;
    height: 8px;
    width: 110%;
    left: -5%;
    bottom: 1%;
    z-index: -1;
    opacity: 0.4;
    border-radius: 10px;

}
 .line-yellow{
    background-color: var(--yellow);

 }